<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReportForBulkDelete" value="7075257" />
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Authentication" receiveTimeout="00:20:00" />
                <binding name="BasicHttpBinding_MemberService" />
                <binding name="BasicHttpBinding_ContentService" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_SearchService" />
                <binding name="BasicHttpBinding_DocumentManagement" sendTimeout="00:20:00"  receiveTimeout="00:20:00" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dmtestadmin.starship.local/cws/DocumentManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentManagement"
                contract="DocumentManagement.DocumentManagement" name="BasicHttpBinding_DocumentManagement" />
            <endpoint address="http://dmtestadmin.starship.local/cws/ContentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ContentService"
                contract="ContentService.ContentService" name="BasicHttpBinding_ContentService" />
            <endpoint address="http://dmtestadmin.starship.local/cws/Authentication.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Authentication"
                contract="Authentication.Authentication" name="BasicHttpBinding_Authentication" />
            <endpoint address="http://dmtestadmin.starship.local/cws/MemberService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_MemberService"
                contract="MemberService.MemberService" name="BasicHttpBinding_MemberService" />
            <endpoint address="http://dmtestadmin.starship.local/cws/SearchService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SearchService"
                contract="SearchService.SearchService" name="BasicHttpBinding_SearchService" />
        </client>
    </system.serviceModel>
</configuration>